<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form">
        <fieldset>
          <div class="form-group list __info">
            <label class="form-label">Source text</label>
            <div class="form-input">
              <textarea ng-model="blade.sourceText"
                        type="text">
              </textarea>
            </div>
          </div>
          <div class="form-group list __info">
            <label class="form-label">Destination language</label>
            <div class="form-input" data-role="input-control">
              <ui-select ng-model="blade.selectedLanguage">
                <ui-select-match placeholder="Select language">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="x in blade.languages | filter: $select.search">
                  <span ng-bind-html="x | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group list __info">
            <button class="btn" ng-click="doTranslate()">
              Translate
            </button>
          </div>
          <div class="form-group list __info">
            <label class="form-label">Translated text</label>
            <div class="form-input">
              <textarea ng-model="blade.resultText"
                        type="text">
              </textarea>
            </div>
          </div>
          <div class="form-group list __info" ng-if="!blade.isSuccess">
            <label class="form-label">Error</label>
            <div class="form-input">
              <textarea ng-model="blade.errorMessage"
                        type="text">
              </textarea>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>